/*Style to fix the issue of text extending past panel length*/
.panel-body a {
    word-break:break-all;
}

#cityscape {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.jumbotron h1 {
	color: white;
}

#main-heading {
	background-image: url("http://4.bp.blogspot.com/-WuEuFYWZhIA/UOc4seMTY-I/AAAAAAAAB-A/YtZAUJ7f68U/s1600/Facebook-Timeline-Profile-Covers-New-York-NYC16.jpg");
}

.panel-heading-ravel {
	background-color: teal !important;
	color: white;
}

.button-ravel {
	background-color: teal;
}

.current-weather, #weekly-weather, #user-results {
	width: 100%;
}

#map-body {
	min-height: 800px;
}

#time-input {
	width: 80px;
	height: 24px;
}

#time-rec {
	width: 50px;
	height: 24px;
}

h1 {
	font-family: 'Josefin Slab';
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26px;

}

h3 {
	font-family: 'Josefin Slab';
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26px;

}

.fa-train {
	color: purple;
}

h2 {
	color:purple;
}

body {
	background-color: grey;
	/*line-height: 26px; THIS WAS OUTSIDE THE BRACKETS - WHERE IS IT SUPPOSED TO GO?*/
}

/*Probably get rid of this class, because name could be easily confused.*/
.Background-image {
	height: 400
	width: 100%;
}

.mapdirections{
	background-color: white;
	
}