/*Style to fix the issue of text extending past panel length*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  /*background-image: url("../images/backgroundMain.jpg");*/
}

#cityscape {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.panel-body a {
    word-break:break-all;
}


#main h1{
	color: white;
	text-align: center;
}

#splash-page{
	height: 300px;
	text-align: center;

}


.form-input{
	padding-left: 400px;
}
/*.jumbotron h1 {
	color: teal;
}*/
/*#map-header-holder{
	margin-bottom: 50px;
}*/

#right-panel{
    
    height:500px;
	overflow: scroll;
	margin-top: 10px;
	margin-left: 5px;
	width: 350px;
 
 }

#map-header-holder{
	width:95%;
	margin-left: 30px;
}

.panel-heading-ravel {
	background-color: teal !important;
	color: white;

}

.button-ravel {
	background-color: teal;
}

.current-weather, #weekly-weather, #user-results {
	width: 100%;
}

#map-body {
	min-height: 500px;
	margin-bottom: 20px;
	margin-top: 10px;
	margin-left: 10px;

}

h1, h3 {
	font-family: 'Josefin Slab';
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26px;

}

.fa-train {
	color: purple;
}

h2 {
	color:purple;
}

body {
	background-color: white;
}

/*Probably get rid of this class, because name could be easily confused.*/
.Background-image {
	height: 400
	width: 100%;
}

.mapdirections {
	background-color: white;
	
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}